html, body {
	margin: 0;
  	padding: 0;
}
Body{
	/*background-image: linear-gradient(to bottom right, black, gray);*/
	background-color: #232323;
}
#logo{
	width: 320px;
    height: 170px;
    float: left;
}
#mouse{
	width: 500px;
    height: 300px;
    margin: 20px 0px 0px 400px;
    border-radius: 15px;
    transition: 0.7s;
}
#mouse:hover{
	width: 520px;
    height: 310px;
    transition: 0.7s;
    border-radius: 300px;
    margin-bottom: -10px;
}
.heading{
	padding: 30px 0px 20px 60px;
	margin-bottom: 15px;
	font-family: sans-serif;
	color: #FFFFFF;

}
.heading h1{
	font-size: 32px;
}

.bar {
	/*background-image: linear-gradient(to right, white, gray);*/
	background-color: #D5D5D5;
	background-size: 100%;
	overflow: hidden;
	padding-left: 30px;
}

.bar a{
  	float: left;
  	font-family: sans-serif;
  	color: black;
  	text-align: center;
  	padding: 9px 35px;
  	text-decoration: none;
  	font-size: 18px;	
	display: inline-block;
	transition: background 0.5s;
}

.bar a:hover{
	color: white;
	background-color: #474747;
}

.intro{
	margin: 40px;
	font-family: sans-serif;
	margin-top: 60px;
	color: black;
	display: inline-block;
	font-size: 16px;
	padding: 5px 5px 5px 30px;
	background-color: #D5D5D5;
	border-radius: 10px;
	transition: 0.7s;
	opacity: 90%;
}

.aim{
	margin-left: 40px;
	font-family: sans-serif;
	margin-top: 60px;
	color: #FFFFFF;
	font-size: 17px;
}

.data{
	margin-left: 60px;
	font-family: sans-serif;
	margin-top: 70px;
	color: #FFFFFF;
	font-size: 25px;
}
.data a 
{ color: inherit; } 

.cite{
	font-size: 12px;
}
.right{
	float: right;
	font-size: 12px;
}





